	<div>
  CST336 Internet Programming. 2021© Lake<br>
	<strong>Disclaimer:</strong> The information in the webpage is completely ficticious.<br>
	It is for academic purposes only.
  </div>
	<img class="footerImage" alt="CSUMB Logo" width="100" src="https://www.chispahousing.org/wp-content/uploads/2014/05/CSUMB-Logo.png">